/* Make gradient button color */
.themed-button {
  background-image: var(--gradient-primary);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  min-width: fit-content;
  white-space: nowrap;
}


