.navigation-bar-container {
  display: flex;
  gap: 64px;
  padding: 16px;
  position: absolute;
  align-items: center;

  .navigation-bar-item {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
}

.navgation-bar-children {
  padding-top: 100px;
}

.themed-color {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
